@use 'helpers' as *;
@use 'normalize';
@use 'fonts';
@use 'design-system';
@use 'base';

// lib
// @use "lib/swiper.min.css";
// @use "lib/pagination.min.css";

// blocks
@use 'blocks/container';

@use 'blocks/is-skeleton';

@use 'blocks/page';

@use 'blocks/button';

@use 'blocks/sound-card';

@use 'blocks/info-element';

@use 'blocks/like-button';

@use 'blocks/dropdown';

@use 'blocks/sound-block';

@use 'blocks/dropdown-list';

@use 'blocks/nav-main';

@use 'blocks/form-field';

@use 'blocks/form';

@use 'blocks/form-dropdown';

@use 'blocks/tabs';

@use 'blocks/tile';

@use 'blocks/text-tile';

@use 'blocks/sound-card-overview';

@use 'blocks/verify-element';

@use 'blocks/nav-button';

@use 'blocks/play-button';

@use 'blocks/emoji-selector';

@use 'blocks/file-upload';

@use 'blocks/player';

@use 'blocks/checkbox';

@use 'blocks/loader';
@use 'blocks/preloader';


@use 'blocks/page-wrapper';
