@use '../helpers' as *;

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(7);

  @include hovered;

  // .checkbox__input

  &__input {
    display: none;
  }

  // .checkbox__caption

  &__caption {
  }

  // .checkbox__emulate

  &__emulate {
    inline-size: rem(10);
    flex-shrink: 0;
    opacity: 0;

    @include transition((opacity), 0.2s);

    &::after {
      content: '';
      display: block;
      inline-size: rem(5);
      block-size: rem(10);
      margin-inline-start: 3px;

      border: solid var(--color-white);
      border-width: 0 2px 2px 0;

      rotate: 45deg;
    }
  }

  &__input:checked ~ &__emulate {
    opacity: 1;
  }
}
