@use '../helpers' as *;

//  <div class="dropdown dropdown--select">
//         <button class="dropdown__trigger" type="button">
//           Eng
//         </button>

//         <div class="dropdown__wrapper">
//           <div class="dropdown__inner">
//             <div class="dropdown__content">
//               <ul class="dropdown__list">
//                 <li class="dropdown__item">
//                   Eng
//                 </li>

//                 <li class="dropdown__item">
//                   Ru
//                 </li>

//                 <li class="dropdown__item">
//                   Fr
//                 </li>
//               </ul>
//             </div>
//           </div>
//         </div>
//       </div>

.dropdown {
  position: relative;

  // .dropdown__trigger

  &__trigger {
    display: flex;
    align-items: center;
    gap: rem(5);

    &::after {
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8' fill='none'><path d='M8.00004 7.56273C7.56201 7.56351 7.12812 7.47795 6.72317 7.31094C6.31823 7.14393 5.95017 6.89874 5.64004 6.5894L0.193376 1.14273C0.0678397 1.01719 -0.00268555 0.846929 -0.00268555 0.669395C-0.00268555 0.49186 0.0678397 0.321597 0.193376 0.196061C0.318911 0.0705253 0.489174 0 0.666709 0C0.844243 0 1.01451 0.0705253 1.14004 0.196061L6.58671 5.64273C6.96171 6.01726 7.47004 6.22764 8.00004 6.22764C8.53004 6.22764 9.03837 6.01726 9.41338 5.64273L14.86 0.196061C14.9856 0.0705253 15.1558 0 15.3334 0C15.5109 0 15.6812 0.0705253 15.8067 0.196061C15.9322 0.321597 16.0028 0.49186 16.0028 0.669395C16.0028 0.846929 15.9322 1.01719 15.8067 1.14273L10.36 6.5894C10.0499 6.89874 9.68186 7.14393 9.27691 7.31094C8.87197 7.47795 8.43808 7.56351 8.00004 7.56273V7.56273Z' fill='white' fill-opacity='0.8'/></svg>");
      display: block;
      inline-size: rem(16);
      block-size: auto;
      line-height: 0;

      @include transition(rotate);
    }
  }

  &.is-active &__trigger::after {
    rotate: -180deg;
  }

  // .dropdown__wrapper

  &__wrapper {
    display: grid;
    min-inline-size: 100%;
    grid-template-rows: 0fr;

    transition: grid-template-rows 0.33s ease-in-out;
  }

  &__wrapper--absolute {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
    z-index: var(--layer-dropdown);
  }

  &__wrapper--right {
    inset-inline: auto 0;
  }

  &.is-active &__wrapper {
    grid-template-rows: 1fr;
  }

  // .dropdown__inner

  &__inner {
    inline-size: max-content;
    min-inline-size: 100%;

    overflow: hidden;
  }

  // .dropdown__content

  &__content {
    padding-block-start: rem(5);
  }

  // .dropdown__list

  &__list {
  }

  // .dropdown__item

  &__item {
    cursor: pointer;
  }
}
