@use '../helpers' as *;

.form-dropdown {
  .dropdown {
    &__trigger {
      justify-content: space-between;
    }

    &-list {
      &__item {
        font-size: rem(16);
      }
    }
  }

  &.is-choice .dropdown__trigger {
    color: var(--color-white);
  }
}
