@use '../helpers' as *;

.info-element {
  display: inline-flex;
  align-items: center;
  gap: rem(4);

  padding: 8px 14px;
  border: rem(1) solid var(--color-accent);

  font-size: rem(14);
  font-weight: 500;
  color: var(--color-accent);

  border-radius: rem(20);

  &--state-check {
    background: var(--color-white);
    border-color: var(--color-white);
  }

  &--state-rejected {
    background: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-red);
  }

  &--views {

  }

  // .info-element__icon

  &__icon {
  }

  // .info-element__value

  &__value {
  }
}
