@use '../helpers' as *;

.is-skeleton {
  position: relative;
  border-radius: rem(7);
  background-color: #99d3f0;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      transparent,
      rgb(255 255 255 / 60%),
      transparent
    );
    transform: translateX(-100%);
    animation: skeleton-shimmer 1.2s infinite;
  }
}

@keyframes skeleton-shimmer {
  to {
    transform: translateX(100%);
  }
}
