@use '../helpers' as *;

.like-button {
  color: rgba(var(--color-accent-2-rgba), 0.6);
  fill: transparent;

  @include transition((color, fill));

  &.is-active {
    color: var(--color-red);
    fill: var(--color-red);
  }

  // .like-button__icon

  &__icon {
    width: rem(22);
    inline-size: rem(22);
    overflow: initial;
    overflow-clip-margin: initial;
  }

  svg,
  path {
    fill: inherit;
  }
}
