@use '../helpers' as *;

.loader {
  display: inline-block;
  width: rem(28);
  height: rem(28);
  border: rem(5) solid transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  border-bottom-color: var(--color-accent);

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
