@use '../helpers' as *;

.page-wrapper {
  opacity: 0;

  transition: opacity 0.35s ease;
  transform: translateY(0);
  pointer-events: none;
}

body.i18n-ready .page-wrapper {
  opacity: 1;
  pointer-events: auto;
}