@use '../helpers' as *;

.play-button {
  position: relative;
  display: flex;
  inline-size: rem(48);
  block-size: rem(48);
  flex-shrink: 0;
  background: var(--color-accent-2);
  border-radius: 50%;

  @include hovered;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include transition((opacity));
  }

  &__icon-play {
    margin-left: rem(2);
  }

  &.is-active &__icon-play {
    opacity: 0;
  }

  &__icon-stop {
    margin-left: rem(1);
    opacity: 0;
  }

  &.is-active &__icon-stop {
    opacity: 1;
  }
}
